.filtro{
    height: 100%;
    margin-left: 1.5%;

    display: flex;
}

.filtros{
    width: 40%;
}

/*SELECIONAR FILTROS*/
.pesquisas{
    margin-top: 4vh;
    margin-left: 3vw;
    margin-bottom: 4.5vh;

    border: 3px solid #002412fb;
    border-radius: 8px;

    display: flex;
    display: inline-block;
    align-items: center;
}

.input-pesquisa{
    height: 8vh;
    width: 22vw;
    font-size: 1.6rem;
    margin-left: 15px;
    border: none;
}
.input-pesquisa:focus{
    outline: none;
}

.pesquisas i{
    font-size: 1.8rem;
    margin: 0 0.5vw;
}

/*CheckBox*/
.dropdown-checkbox{
    width: 23vw;
    border: 3px solid #002412ad;

    margin-left: 7vh;
    margin-top: 1.5vh;
}

.filter-close{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 3vw;
    cursor: pointer;
}

.filter-close p, i{
    font-size: 1.5rem;
}

.filter-close p{
    font-weight: 500;
}

.filter-open{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 2.6vw;
    cursor: pointer;
}

.filter-open p, i{
    font-size: 1.5rem;
}

.item-checkbox{
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0 1vw 0 0.5vw;
    gap: 10px;
    cursor: pointer;
}

.box-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid black;
}

.item-checkbox p{
    font-size: 1.5rem;
}

.title-diagnosticos{
    font-size: 1rem;
}

/*MOSTRAR FILTROS*/


.mostrar-filtros{
    height: 75vh;
    width: 35vw;
    border: 3px solid #022e18fb;
    border-radius: 8px;
    padding: 2vh;

    margin-top: 4vh;
    margin-left: 6vw;
}

.filtros-selecionados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.filtros-selecionados-p{
    font-size: 1.3rem;
    font-weight: bold;
}

.itens-filtro{
    font-weight: 800;
    margin-left: 10px;
}

.exibir-filtro{
    width: 98%;
    margin-top: 0.5vh;
    height: 8vh;
    margin-left: 10px;
    margin-bottom: 1.3vh;

    /*Deixa os ítens um a frente do outro para poder usar o scroll*/
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}


/*Estilizar a barra de scroll*/
.exibir-filtro::-webkit-scrollbar{
    height: 6px;
}

.exibir-filtro::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}

.exibir-filtro::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}
/*-----------------------------------------------*/

.filtro-selecionado{
    display: inline-block;
    padding: 0.4rem;
    margin-right: 1.3vh;
    background-color: #a1eab8;
    border-radius: 10px;
}

.scroll-filtros{
    height: 55.1vh;
    /* Exibir os itens em forma de coluna para usar o scroll vertical */
    display: flex;
    display: inline-block;
    padding-right: 3vw;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Scroll vertical */
    white-space: normal; /* Permitir quebra de linha */
}

/* Estilizar a barra de scroll */
.scroll-filtros::-webkit-scrollbar {
    width: 6px; /* Largura da barra para o scroll vertical */
}

.scroll-filtros::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.scroll-filtros::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/*-----------------*/

.botoes-filtros{
    display: flex;
    align-items: center;
}


.bot-aplicar{
    width: 15vw;
    height: 8vh;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #FEDD01;
    margin-left: 3vw;
    margin-top: 2.5vh;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-aplicar p{
    font-size: 1.4rem;
    font-weight: bold;
}

.bot-limpar{
    width: 4vw;
    height: 8vh;
    border-radius: 8px;
    border: 3px solid black;
    margin-left: 4vw;
    margin-top: 2.5vh;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-limpar i{
    font-size: 2.5rem;
}

  