.home {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #b6ffbf;

    width: 100%;
    height: 100%;
    gap: 50px; /* Espaçamento entre as linhas */
}

.separa-dupla {
    display: flex;
    gap: 5vw; /* Espaçamento entre as colunas */
    justify-content: center;
}

.itens-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16vw;
    height: 45vh;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.div-icons {
    border: 4px solid black;
    border-radius: 15px; /* Bordas arredondadas */
    width: 16vw;
    height: 34vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo */
    position: relative;
}

.title-itens {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}


/*Estilizando os icons*/

.icon-home{
    font-size: 8rem;
    position: absolute;
    /* transition: transform 0.3s; */
}
/* 
.div-icons:hover .icon-home {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(40px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(40px) rotate(-360deg);
    }
} */