
/*Navegação lateral*/
.menu-lateral{
    height: 100%;
    width: 110px;

    background: linear-gradient(0deg, #0EB860 38.3%, #00582A 89.3%, #004b24 100%);

    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-lateral i{
    color: #fff;
    font-size: 2.6rem;
    margin-left: 17px;
    cursor: pointer;
}

.house{
    padding-bottom: 35px;
    padding-top: 15vh;
}


.separador-dois{
    border: 1.3px solid white;
    width: 80px;
}

.confing-buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.escrita-filter{
    margin-bottom: 13vh;
}

.duvidas{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid white;
    width: 25px;
    height: 25px;
    border-radius: 360px;
}

.interrogacao{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0;

    cursor: pointer;
}

/*Menu lateral aberto*/

.menu-lateral-open{
    height: 100%;
    width: 250px;

    background: linear-gradient(0deg, #0EB860 38.3%, #00582A 89.3%, #004b24 100%); 

    display: flex;
    align-items: center;

}

.container-icons{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    gap: 20px;
}

.menu-lateral-open i{
    color: #fff;
    font-size: 2.6rem;
    margin-left: 17px;
    cursor: pointer;
}


.separador-tres{
    border: 1.3px solid white;
    width: 220px;
}

.confing-buttons{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.duvidas{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid white;
    width: 25px;
    height: 25px;
    margin-left: 23px;
    border-radius: 360px;
}

.div-duvidas{
    display: flex;
    align-items: center;
    gap: 20px;
}

.interrogacao{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0;

    cursor: pointer;
}

.escrita-open-house{
    display: flex;
    align-items: center;
    justify-content: center;
}

.escrita-open-house p{
    padding-bottom: 35px;
    padding-top: 15vh;
}

.escrita-open-lupa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.escrita-open-filter{
    display: flex;
    align-items: center;
    margin-bottom: 13vh;
}

.escrita-open-config{
    display: flex;
    align-items: center;
}

.escrita-open-house, .escrita-open-lupa, .escrita-open-filter, .escrita-open-config{
    cursor: pointer;
    gap: 15px;
}


.escrita-open{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(169, 169, 169, 0.253);
    color: #fff;
    font-weight: 400;
    font-size: 1.7rem; 
}

.guia{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(169, 169, 169, 0.253);
    color: #fff;
    font-size: 1.3rem;
}

.background-menu{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.menu-lateral, .menu-lateral-open{
    /* position: absolute; */
}
